<html> 
   <body>  
       <h3>Enter movie details</h3>  
       <form  method="post">
        <label for="genres">movie genres if don't know you can skip</label>
         <p> <input type = "text" name = "genres",id="genres",onkeyup="generateFullName()" /></p> 
         <label for="actor">Actor skip if don't want to mention</label> 
         <p> <input type = "text" name = "actor",id="actor",onkeyup="generateFullName()" /></p>  
         <label for="director">director skip if don't know </label>
         <p>
             <input type = "text" name = "director",id="director",onkeyup="generateFullName()" /></p>
         <br>         
         <p><input type = "submit" value = "submit" /></p>  
 
      </form>  
   </body>  
</html> 